<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Example for Neota</title>
        <script src="/static/zepto.min.js"></script>
        <script src="/static/socket.io.min.js"></script>
        <script src="/static/spin.min.js"></script>
        <script src="/static/client.js"></script>
        <%-scripts%>
        <%-stylesheets%>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <style type="text/css">
            body { padding: 0; margin: 0; }
            header { background: #1F1F1F; color: #EDEDED; margin: 0; overflow: hidden; padding: 14px 10% 24px 10%; text-align: center; }
            #canvas { width: 880px; padding: 20px; margin: 0 auto; }
            #reset {  } 
            .box { background-size: 100% auto; background-repeat: no-repeat; background-position-y: 50%; border: 2px solid #ccc; font-style: italic; margin: 4px; width: 200px; height: 200px; float: left; padding: 20px; word-wrap: break-word; font-size: 16px; line-height: 20px; }
            .box:hover { background-color: #F2F2F2; border: 2px solid #9C9C9C; }
            .selected { border: 2px dashed black; }
            .remote-selected { border: 2px dashed blue; }
            .remote-selected.selected { border: 2px dashed red; }
            footer { background: #E6E6E6; position: fixed; bottom: 0; padding: 18px 0 8px 0; width: 100%; text-align: center; font-size: 18px; }
        </style>
    </head>
    <body>
        <header>
          <h1>Swamp Camping Adventure <small>A NodeJS Experiment.</small></h1>
            <button id="reset" class="btn btn-primary">reset</button>
        </header>
        
        
        <div id="canvas">
          <%-body -%>
        </div>
        <footer>
          <p>There are <strong><%= users %></strong> users online.</p>
        </footer>
    </body>
</html>